@font-face {
    font-family : 'DJGrossNormal';
    src : url('fonts/DJGROSS-webfont.eot');
    src : url('fonts/DJGROSS-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/DJGROSS-webfont.woff') format('woff'),
         url('fonts/DJGROSS-webfont.ttf') format('truetype'),
         url('fonts/DJGROSS-webfont.svg#DJGrossNormal') format('svg');
    font-weight : normal;
    font-style  : normal;

}

@font-face {
    font-family : 'jura';
    src : url('fonts/Jura-Medium-webfont.eot');
    src : url('fonts/Jura-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Jura-Medium-webfont.woff') format('woff'),
         url('fonts/Jura-Medium-webfont.ttf') format('truetype'),
         url('fonts/Jura-Medium-webfont.svg#JuraMedium') format('svg');
    font-weight : normal;
    font-style  : normal;

}

.clear{
	clear      : both;
	overflow   : hidden;
	width      : 0 !important;
	height     : 0 !important;
	min-height : 0 !important;
	min-width  : 0 !important;
	border     : 0 none !important;
	float      : none !important;
}

div.container {
	position : relative;
	top      : 0;
	right    : 0;
	left     : 0;
	bottom   : 0;
}

/***************************  FRONT PAGE  *********************************/

hgroup.site-title{
	position: absolute;
	top:50px;
	background-color:rgba(190,150,20,.3);
	min-height: 150px;
	width:160px;
	z-index: 2;
	border-radius:3px;
}

hgroup.site-title h2.alborz-logo{
	width:110px;
	height:110px;
	background-image:url('images/logo/a.t.png');	
	background-repeat: no-repeat;
	margin-left:25px;
}

hgroup.site-title  h1.alborz{
	position      : absolute;
	font-size     : 15px;
	font-family   : 'DJGrossNormal', Arial, sans-serif;
	font-weight:bold;
	text-transform: capitalize;
	text-indent   : 5px;
	top           : 100px;
	left          : 20px;
	color:#050300;
	letter-spacing: 1px;

}

hgroup.site-title  h1.alborz > p:first-letter{
	color: rgb(251,193,17);
	font-size: 20px;
}

hgroup.site-title  h1.alborz p#title-part{
	text-indent:18px;	
}

div.subdevision {
	width    : 100%;
	overflow : hidden;
	background-color:#000;
}

div.subdevision div.train {
	width : 6000px;
}

div.subdevision div.train > div {
	position: relative;
}

div.subdevision div.train > div div.backimg{
	width: inherit;
	min-height: inherit;
	opacity: 0.3;
	transition:opacity 1500ms;
	-webkit-transition:opacity 1500ms;
	-moz-transition:opacity 1500ms;
	-ms-transition:opacity 1500ms;
	-o-transition:opacity 1500ms;
} 

div.subdevision div.train > div div.backimg:hover{
	opacity: 1;
}

div.subdevision div.train > div:first-child{
	opacity:1;	
}

div.subdevision div.train > div h3 {
	position: absolute;
	top:60%;
}

div.subdevision div.train > div div.backimg,div.subdevision div.train > div h3{
	background-repeat : no-repeat;	
}


div.subdevision div.train div.first {
	min-height       : 663px;
	float            : left;
}

/***** logos and text in slides *******/
div.subdevision div.train div.main-logo:hover div.sub-name{
	background-color:rgba(220,170,170,.1);
	-webkit-transition:all 1s;
}

div.subdevision div.train div.main-logo{
	border:1px white solid;
	position:absolute;
	z-index:3;
	width:150px;
	height:200px;	
	top:350px;
	background-color:rgba(190,150,150,.2);
	border:rgba(190,150,150,.4) 1px solid;
	border-radius:3px;
}

div.subdevision div.train  div.sub-name{
	margin-top:150px;
	position:absolute;
	font-family   : 'jura', Arial, sans-serif;
	font-weight:bold;
	font-size:18px;
	width:150px;
	height:48px;
	text-align:center;
	border-radius:3px;
}

/***** First Slide ********/
div.subdevision div.train div.first div.backimg{
	background-image:url('images/slides/1.jpg');
	background-position:25% 40%;
	background-size:cover;
	opacity:1 !important;
	-webkit-transition:opacity 1s;
}

div.subdevision div.train div.first div.backimg div.inside{
	opacity:0 !important;
	-webkit-transition:opacity 1s;
}

div.subdevision div.train div.first:hover div.backimg div.inside{
	background-image:url('images/slides/01.jpg');
	background-position:50% 0%;
	background-size:cover;
	width:inherit;
	min-height:inherit;
	opacity:1 !important;
	-webkit-transition:opacity 1s;
}

div.subdevision div.train div.first h3.sub-title{
	width:150px;
	min-height:150px;
	background-image:url('images/logo/1.png');
	background-position:0% 50%;
	top:0;
	left:10px;
}

/***** second slide *******/
div.subdevision div.train div.second {
	min-height       : 663px;
	float            : left;
}

div.subdevision div.train div.second div.backimg{
	background-image: url('images/slides/2.jpg');
	background-position:48% 10%;
	background-size:cover;
}

div.subdevision div.train div.second h3.sub-title{
	width:150px;
	height:60px;
	background-image:url('images/logo/2.png');
	background-color:transparent;
	top:40px;
}

/***** Third Slide *******/
div.subdevision div.train div.third {
	min-height       : 663px;
	float            : left;
}

div.subdevision div.train div.third div.backimg{
	background-image:url('images/slides/3.jpg');
	background-position:70% 0%;
	background-size:cover;
}

div.subdevision div.train div.third h3.sub-title{
	width:150px;
	height:60px;
	background-image:url('images/logo/3.png');
	background-position:10% 50%;
	top:35px;
	left:35px;
}

/*******Forth Slide *******/
div.subdevision div.train div.forth {
	min-height       : 663px;
	float            : left;	
}

div.subdevision div.train div.forth div.backimg{
	background-image:url('images/slides/4.jpg');
	background-position:35% 0%;
	background-size:cover;
}

div.subdevision div.train div.forth h3.sub-title{
	width:150px;
	height:60px;
	background-image:url('images/logo/4.png');
	background-color:transparent;
	top:25px;
}

/****** Fifth Slide ********/
div.subdevision div.train div.fifth {
	min-height       : 663px;
	float            : left;
}

div.subdevision div.train div.fifth div.backimg {
	background-image:url('images/slides/5.jpg');
	background-position:35% 0%;
	background-size:cover;
}

div.subdevision div.train div.fifth h3.sub-title{
	width:150px;
	height:60px;
	background-image:url('images/logo/5.png');
	background-color:transparent;
	top:25px;
}

/****** Sixth Slide ********/
div.subdevision div.train div.sixth {
	min-height       : 663px;
	float            : left;	
}

div.subdevision div.train div.sixth div.backimg {
	background-image:url('images/slides/6.jpg');
	background-position:20% 0%;
	background-size:cover;
}

div.subdevision div.train div.sixth h3.sub-title{
	width:150px;
	height:60px;
	background-image:url('images/logo/6.png');
	background-position:50% 30%;
	top:25px;
}


